* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Layout */
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.main-panel {
    width: 70%;
    height: 100%;
    background-color: brown;
}

.side-panel {
    width: 30%;
    background-color: rgb(41, 39, 38);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.side-panel h1 {
    color: aliceblue;
    margin-bottom: 30px;
}

/* Dropdown */
.dropdown {
    width: 200px;
    position: relative;
}

.dropdown-btn {
    background-color: #333;
    color: white;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
}

.dropdown-menu {
    display: none;
    background-color: white;
    border-radius: 6px;
    margin-top: 5px;
    overflow: hidden;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.item:hover {
    background-color: #f2f2f2;
}


/********** editor **************/
.editor {
    width: 260px;
    border-radius: 10px;
    padding: 14px;
    color: white;
}

.editor h3 {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.editor label {
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
    opacity: 0.8;
}

.editor input {
    width: 100%;
    padding: 7px 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 13px;
}

.editor input:focus {
    outline: 2px solid #4caf50;
}

/* ---------------- Button ---------------- */

.save-btn {
    width: 100%;
    padding: 9px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #4caf50;
    color: #111;
    font-weight: 600;
}

.save-btn:hover {
    filter: brightness(1.1);
}